/*background*/
body, html{
    padding: 0;
    margin: 0;
    background-color: black;
    background-image: url('./img/background.jpg');
    height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card-overlay {
height:100vh;
background:rgba(0, 0, 0, 0.5);

}
/*-------------------*/

header{
    width: 100vw;
}

#logo{
    margin-top: 1rem;
    margin-left: 2rem;
}

section{
    height: 100vh;
}

.loginBox{
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 5px ;
    width: 30rem;
    height: 42rem;
    color: white;
}

footer{

    margin-top:5px ;
    height: 18%;
    width: 100vw;
    color: white;
    background-color: rgba(0, 0, 0);

}

.contentCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/*---FORM----*/


form{
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


form .upForm{
    height: 50%;
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

form .bottomForm{
    padding: 2em 4em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}

input[type=password], input[type=email], input[type=submit]{
    width: 100%;
}

#facebook{
    height: 1em;
    width: 1em;    
}


a{
    color:white;
    color:#737373;
    text-decoration: none;
}

label{
    color:#737373;
}

input[type=password], input[type=email]{
    background-color: #333;
    
    border: none;
    height: 3em;
    border-radius: 5px ;

    color: white;
    font-size: 1em;
    text-indent: 10px;

    margin-bottom: 1em;
}

input[type=submit]{
    background-color: #E50914;
    
    height: 3em;
    border-radius: 5px ;
    border: none;
    color: white;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 600;
}

.checkBox{
    display: flex;
    justify-content: space-between;
    
}

h1{
    margin: 0;
    margin-top: 1em;
    font-size: 2em;
}

.signUp span{
    color: #737373;
}

.signUpLink{
    color: white;
}

@media only screen and (max-width: 750px) {

    body, html{
        background-image: none;
        background-color: black;
    }

    footer{
        border-top: 1px solid #737373;
        margin-top:1px ;
        height: 25%;
    }

    .loginBox{
        width: 100vw;
        
        
    }

    form .upForm{
        width: 100%;
        padding: 2em 4em;
        box-sizing: border-box;
        
    }
    
    form .bottomForm{
        width: 100%;
        padding: 2em 1em;

    }


    
}